build/
config/
index.html
index-template.html
.gitignore
.eslintrc.js
.eslintconfig
.eslintignore
.editorconfig
.babelrc
.npmignore
.postcssrc.js

src/docs.js
src/app.vue
src/components/Samples.vue
dist/docs

.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
